<app-nav-bar></app-nav-bar>
<div class="containeer">
    <p>Add Magazine </p>
    <form class="row g-3"  [formGroup]="myform" >
        <div class="col-md-6">
            <label class="form-label" >Titre</label>
            <input type="text" class="form-control" formControlName="titre" id="titre"/>
            <div  class="alert alert-danger" *ngIf="titreMg && titreMg.invalid && titreMg.touched">Ce champs est Obligatoire</div>
        </div>
        
        <div class="col-md-6">
            <label class="form-label">Numéro des pages</label>
            <input type="number" class="form-control" formControlName="numP"id="nump" />
            <div  class="alert alert-danger" *ngIf="numPMg && numPMg.invalid && numPMg.touched">Ce champs est Obligatoire</div>

        </div>
        <div class="col-md-6">
            <label class="form-label">Date Arrivee</label>
            <input type="date" class="form-control" formControlName="dateA" id="dateA"/>
            <div  class="alert alert-danger" *ngIf="dateAMg && dateAMg.invalid && dateAMg.touched">Ce champs est Obligatoire</div>

        </div>

        <div class="col-md-6">
          <label class="form-label">Image</label>
          <input type="file" class="form-control" formControlName="image" (change)="upload($event)" id="img"/>
          
        </div>
        
        <div class="col-md-12 dsip">
        <legend class="col-form-label ">Disponibilité</legend>
            <div class="form-check col-md-4 ">
              <input class="form-check-input" type="radio" value="true" id="oui" formControlName="dispo">
              <label class="form-check-label" >
                OUi
              </label>
            </div>
            <div class="form-check col-md-4">
              <input class="form-check-input" type="radio"name="n1" value="false" id="non" formControlName="dispo" >
              <label class="form-check-label">
                Nom
              </label>
            </div>
            
        </div>    
        <div class="col-md-10">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="2" formControlName="description" id="discription"></textarea>
          </div>
          
          <input type="submit" value="Add" class="btn btn-primary button"  (click)="ajouter()" [disabled]="myform.invalid" uk-toggle="target: #my-id" id="ajout">
        
    </form>
  <div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <div *ngIf="message!='Erreur'">
        <p id="alert" class="alert alert-primary" role="alert" >{{message}}</p>
      </div>
      <div *ngIf="message=='Erreur'">
        <p class="alert alert-danger" role="alert" >{{message}}</p>
      </div>
        
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="naviguer()" >Fermer</button>
        </p>
    </div>
</div>
</div>

