
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="dashboard" >
              <span class="link-text logo-text">Dashboard</span>
              <i class="fas fa-angle-double-right"></i>
              </a>
          </li>
    
          <li class="nav-item">
            <a routerLinkActive="actif" routerLink="/dashboard" class="nav-link">
              <i class="fas fa-list "></i>
              <span class="link-text">
                <a routerLinkActive="actif" routerLink="/dashboard">Magazine</a>
                </span>
            </a>
          </li>
    
          <li class="nav-item">
            <a  routerLinkActive="actif"  routerLink="/addMg" class="nav-link">
              <i class="fas fa-plus-circle"></i>
              <span class="link-text">
               Add Magazine
               </span>
            </a>
          </li>
    
          <li class="nav-item">
            <a routerLinkActive="actif" routerLink="/users" class="nav-link">
              <i class="fas fa-users"></i>
              <span class="link-text">Users</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a routerLinkActive="actif" routerLink="/reservation" class="nav-link">
              <i class="fas fa-users"></i>
              <span class="link-text">Reservation</span>
            </a>
          </li>
         
        </ul>
      </nav>
    
  
  